// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.layouts {
    min-height: 660px;
    display: grid;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-content-city {
        color: #1D2837;
        font-family: sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        /* 111.111% */
    }

    .header-content-date {
        color: #464F5B;
        text-align: right;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        /* 88.889% */
    }
}

.body {

    .img-center {
        display: flex;
        justify-content: center;

        .img {
            width: 160px;
            height: 160px;
            flex-shrink: 0;
        }
    }

    .content {

        .name-city {
            color: #1D2837;
            text-align: center;
            font-family:sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            /* 66.667% */
            text-transform: capitalize;
        }

        .degree {
            color: #1D2837;
            text-align: center;
            font-family: system-ui;
            font-size: 48px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }
    }
}

.weather-hours {

    .bg-card{
        background-color: transparent !important;
    }

    .hours {
        color: #737A83;
        text-align: center;
        font-family: sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        /* 125% */
    }

    .img-center {
        display: flex;
        justify-content: center;

        img {
            width: 32.4px;
            height: 32.4px;
        }
    }

    .degree {
        color: #737A83;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}